# Django Secret Key (change this in production!)
SECRET_KEY=your-very-secret-key-change-this

# Set to False in production
DEBUG=False

# Your Render.com domain e.g. your-app.onrender.com
ALLOWED_HOSTS=localhost,127.0.0.1
