# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environment variables
.env

# Static collected files
staticfiles/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Temporary files
temp/